.banner{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Merriweather', serif;
}
.banner .banner-text{
    font-family: 'Merriweather';
    color: #F00;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#para1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
}
#para2{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
}
#para3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
    padding-bottom: 100px;
}
#newyearphoto{
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
}
#vector{
    width: 1320px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#combinedImage{
    position: relative;
}
.2024{
    position: absolute;
    top: 15px;
    right: 30px;
}