.banner{
    text-align: center;
    padding-top: 200px;
    display: flex;
    align-items: center;
    
}
header{
    background-image: url("resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 400px;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Merriweather', serif;
}
.banner .banner-text{
    font-family: 'Merriweather';
    font-size: xx-large;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#para1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
}
#para2{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
}
#para3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
    padding-bottom: 100px;
}
#newyearphoto{
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
}
#vector{
    width: 1320px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.textimage{
    /* display: flex; */
    background-image: url("resources/Vectorrr.png");
    background-repeat: no-repeat; 
    background-position: center;
    align-items: center;
    padding-bottom: 50px;
}
#text{
    font-family: Merriweather;
    padding-left: 700px;
    padding-bottom: 7000px;
    
}
    
